* {
  box-sizing: border-box;
}


.box{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 2500px; /* 25 columns * 100px */
}

.header{
  display: flex;
  align-items: center;
}